*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
    font-family: 'poppins', sans-serif;
}

button {
    cursor: pointer;
}

header{
    padding: 30px 0;
}

header nav{
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;  
    justify-content: space-between; 
}

nav .nav-links{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 40%;

}

.logo-container {
    width: 40%;
}

.logo-container a{
    font-size: 25px;
    text-decoration: none;
    color: rgb(34, 12, 57);
    font-weight: 600;
}

ul{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: rgba(34, 12, 57, 0.513);
}

ul li a:hover {
    color: rgb(34, 12, 57);
}

.btns {
    cursor: pointer;
}

.login-btn{
    border: none;
    background-color: transparent;
    padding: 10px 20px;
    font-size: 14px;
    color: rgba(34, 12, 57, 0.513);
}

.sign-up-btn{
    border: none;
    background-color: rgb(60, 169, 151);
    padding: 10px 20px;
    color: #fff;
    border-radius: 20px;
    font-size: 14px;
}

.toggle{
    display: none;
}

#toggle-display{
    display: none;
}

/* section .get-started */
.get-started{
    display: flex;
    justify-content: right;
    width: 100%;
    min-height: 30vh;
    margin: 10px auto;
}


.get-started-container{
    width: 95%;
    display: flex;
    align-items: center;
}

.get-started-container .content{
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.more-than h1{
    font-size: 3.5rem;
    font-weight: 700;   
    color: hsl(255, 11%, 22%);
}

.more-than p{
    font-size: 1.2rem;
    line-height: 1.2;
    color: rgba(34, 12, 57, 0.513);
}

.start{
    border: none;
    background-color: #60D1D1;
    padding: 10px 30px;
    color: #fff;
    border-radius: 20px;
    margin-top: 1rem;  
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: capitalize;  
}

.get-started-container .image{
    width: 50%;
    /* border: 1px solid #000; */
}

.get-started-container .image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.mobile-get-started{
    display: none;
}


/* section links - search */

.search-tab-main-container {
    background-color: #EFF1F7;
    margin-top: 8rem;
    min-height: 100vh;
}

.tab-container {
    position: relative;
    width: 85%;
    margin: auto;
}

.tab-search {
    position: absolute;
    top: -5rem;
    width: 100%;
    height: 20vh;
    border-radius: 10px;
    background-image: url('../images/bg-shorten-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;   
    background-color: hsl(260, 8%, 14%);
    display: flex;
    align-items: center;
}

.inner-tab-search {
    width: 90%;
    height: 7vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.inner-tab-search input {
    width: 75%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
}

.inner-tab-search .btn-shorten {
    width: 22%;
    border: none;
    border-radius: 10px;
    background-color: #60D1D1;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    text-transform: capitalize;
}

.grid-tab-search {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    padding-top: 8rem;
    grid-gap: 2rem;  
}

.grid-tab-search .grid-item {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    font-size: 1.2rem;
}

.grid-tab-search .grid-item .items {
    width: 100%;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

.grid-item .items .text-link {
    width: 50%;
}

.grid-item .items .text-link .t-link{
    color: rgb(34, 34, 34);
}

.grid-item .items .shorten-link {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}


.grid-item .items .shorten-link .s-link-text{
    color: #60D1D1;
}

.grid-item .items .shorten-link .copy-link{
    background-color: #60D1D1;
    padding: 10px;
    width: 20%;
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    color: #fff;
}

.grid-item .items .shorten-link .copied-link{
    background-color: hsl(260, 8%, 14%);
    padding: 10px;
    width: 20%;
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    color: #fff;
}

.advanced-text-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.advanced-text-container h1{
    font-size: 3rem;
    color: hsl(260, 8%, 14%);
}

.advanced-text-container p{
    width: 60%;
    line-height: 1.5;
    font-size: 1.2rem;
    color: hsl(0, 1%, 58%);
    padding: 10px;
}


/* 
.brand-records-customizable {
    position: relative;
    margin-top: 5rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
} */

.brand-records-customizable {
    position: relative;
    margin-top: 5rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.brand-records-customizable .line{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 1vh;
    background-color: #60D1D1;
    top: 12rem;
}

.brc-container {
    position: relative;
    background-color: #fff;
    border-radius: 14px;
}

.brc-container .content {
    padding: 30px;
    padding-top: 60px;
}

.brc-container .content h1{
    color: hsl(257, 14%, 20%);
}

.brc-container .content p{
    color: hsl(0, 1%, 58%);
    line-height: 1.5;
    font-size: 1.2rem;
    /* margin: 10px auto; */
    font-weight: 500;
}


.brc-container .icon {
    position: absolute;
    top: -3rem;
    left: 2rem;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: hsl(258, 51%, 21%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.blank {
    height: 10vh;
}

/* <section class="boost"> */
.boost-container {
    width: 100%;
    height: 30vh;
    background-color: hsl(258, 51%, 21%);
    background-image: url('../images/bg-boost-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boost-container h1{
    font-size: 3rem;
    color: #fff;
}


/* footer */

footer {
    background-color: hsl(260, 8%, 14%);
}

.footer-container {
    width: 85%;
    margin: auto;
    display: flex;
    padding: 4em 0;
}

.footer-container .shortly-container {
    width: 35%;
}

.shortly-container a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
}

.footer-container .FRC {
    width: 45%;
    display: flex;
    justify-content: space-around;
}

.FRC .features {
    width: 50%;
}

.FRC .features ul {
    display: block;
    list-style: none;
    margin-top: 1.2rem;
}
.FRC .features ul li {
    margin-top: 0.8rem;
}
.FRC .features ul li a{
    color: #97989b;
}

.FRC .features ul li a:hover{
    color: #60D1D1;
}

.head-link {
    text-decoration: none;
    color: #fff;
}


.footer-container .socials {
    width: 20%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
}

.footer-container .socials a {
    color: transparent;
}

.footer-container .socials a:hover {
    color: #60D1D1;
}