/* media @max-width 790 */
@media screen and (max-width:983px) {
  .tab-search {
    top: -4.3rem;
}
}

@media screen and (max-width: 790px) {
  header nav {
    width: 90%;
  }

  .get-started-container {
    width: 100%;
  }

  .more-than h1 {
    font-size: 35px;
  }

  .more-than p {
    font-size: 16px;
  }

}


/* media @max-width 600 */
@media screen and (max-width: 600px) {
  header nav {
    width: 97%;
  }
  header nav .nav-links {
    width: 50%;
    font-size: 12px;
  }
  .nav-links .logo-container a {
    font-size: 22px;
  }

  .login-btn,
  .sign-up-btn {
    font-size: 11px;
  }
  .sign-up-btn {
    padding: 8px 10px;
  }

  .get-started-container .content{
    padding: 10px;
}


.more-than h1{
    font-size: 30px;
}

.more-than p{
    font-size: 11px;
}

}


/* media @small screen */
@media screen and (max-width: 425px) {
  header {
    padding: 30px 10px;
    /* border: 1px solid #000; */
  }
  .logo-container a{
    font-size: 3px;
    font-weight: 700;
  }
  .toggle {
    display: block;
  }

  .ul-links,
  .btns {
    display: none;
  }

  .mobile-container {
    display: none;
  }
  .mobile-nav {
    margin: 0px 12px;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 70%;
    background-color: rgb(246, 251, 249);
  }

  .cancel {
    position: absolute;
    top: 2px;
    right: 10px;
  }

  .links ul {
    display: block;
  }

  /* off big-screen */
  .get-started{
    display: none;
  }

  .mobile-get-started{
    display: block;
  }

  .get-started-container{
    display: block;
    width: 100%;
  }
  .get-started-container .image{
    width: 100%;
  }
  .get-started-container .content{
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 11px;
    border: 1px solid #ccc;
  }
  .more-than h1{
    font-size: 2.5rem;
  }

  .more-than p {
    font-size: 1rem;
    line-height: 1.3;
    padding: 12px 0;
    }

    .start {
      margin: auto;
      font-size: 1rem;
    }
}
