

@media screen and (max-width: 1398px) {
  .brc-container {
    height: 25vh;
  }
}


@media screen and (max-width: 1134px) {
  .brc-container {
    height: 32vh;
  }
}

@media screen and (max-width: 1024px) {
  .brc-container {
    height: 40vh;
  }
}

/* media @max-width 790 */
@media screen and (max-width: 983px) {
  .tab-search {
    top: -4.3rem;
  }
  .brc-container {
    height: 40vh;
  }
}

@media screen and (max-width: 790px) {
  header nav {
    width: 90%;
  }

  .get-started-container {
    width: 100%;
  }

  .more-than h1 {
    font-size: 35px;
  }

  .more-than p {
    font-size: 16px;
  }

  .tab-container {
    width: 90%;
  }

  .brc-container {
    height: 65vh;
  }
}

/* media @max-width 600 */
@media screen and (max-width: 600px) {
  header nav {
    width: 97%;
  }
  header nav .nav-links {
    width: 50%;
    font-size: 12px;
  }
  .nav-links .logo-container a {
    font-size: 22px;
  }

  .login-btn,
  .sign-up-btn {
    font-size: 11px;
  }
  .sign-up-btn {
    padding: 8px 10px;
  }

  .get-started-container .content {
    padding: 10px;
  }

  .more-than h1 {
    font-size: 30px;
  }

  .more-than p {
    font-size: 11px;
  }
}

/* media @small screen */
@media screen and (max-width: 500px) {
  header {
    padding: 30px 10px;
  }

  .logo-container a {
    font-size: 3px;
    font-weight: 700;
  }

  .toggle {
    display: block;
  }

  .ul-links,
  .btns {
    display: none;
  }

  .mobile-container {
    display: none;
  }

  .mobile-nav {
    margin: 0px 12px;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 70%;
    background-color: rgb(246, 251, 249);
  }

  .cancel {
    position: absolute;
    top: 2px;
    right: 10px;
  }

  .links ul {
    display: block;
  }

  /* off big-screen */
  .get-started {
    display: none;
  }

  .mobile-get-started {
    display: block;
  }

  .get-started-container {
    display: block;
    width: 100%;
  }
  .get-started-container .image {
    width: 100%;
  }
  .get-started-container .content {
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 11px;
  }
  .more-than h1 {
    font-size: 2.5rem;
  }

  .more-than p {
    font-size: 1rem;
    line-height: 1.3;
    padding: 12px 0;
  }

  .start {
    margin: auto;
    font-size: 1rem;
  }

  .search-tab-main-container {
    margin-top: 12rem;
  }

  .tab-container {
    width: 90%;
  }

  .tab-search {
    top: -7rem;
    height: 35vh;
    border-radius: 10px;
    background-image: url("../images/bg-shorten-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
  }

  .inner-tab-search {
    display: block;
    padding: 20px 0;
  }

  .inner-tab-search input {
    width: 100%;
    height: 10vh;
    font-size: 1.4rem;
  }

  .inner-tab-search .btn-shorten {
    width: 100%;
    height: 10vh;
    font-size: 1.4rem;
    margin-top: 40px;
  }

  .grid-tab-search {
    display: none;
  }

  .advanced-text-container h1 {
    font-size: 2rem;
    margin-top: 10rem;
    width: 100%;
  }

  .advanced-text-container p {
    width: 100%;
    line-height: 1.5;
    font-size: 1.1rem;
    color: hsl(0, 1%, 58%);
    padding: 5px;
  }

  .brand-records-customizable {
    display: block;
    margin-bottom: 50px;
  }

  .brc-container {
    margin-bottom: 100px;
  }

  .brc-container .icon {
    left: 9.5rem;
  }

  .brand-records-customizable .line {
    height: 160vh;
    width: 2%;
    left: 12rem;
  }

  .blank {
    height: 6vh;
  }
}
